body{
  background-color: black;
  background-image: linear-gradient(19deg, #21D4FD 0%,#B721FF 100%);
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
} 

/** Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #1ddbfd;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fd1ddf;

}
